{% extends 'base.html.twig' %}

{% block title %}Profil - SAE 301{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">
{% endblock %}

{% block javascripts %}
<script defer src="{{ asset('assets/js/profil.js') }}"></script>
<script defer src="{{ asset('assets/js/mobile.js') }}"></script>
{% endblock %}

{% block body %}


<body class="flex-container">
    
    <section class="flex-container justify-content-center flex-column align-items-center">
    <svg id="burger" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
        <style>svg{fill:#000000}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 
        128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 
        416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        <h1>Profil</h1>
        <div class="profil flex-container justify-content-center flex-column align-items-center">
           <div class="profil__img img" ></div>
           <h3 id="name" class="profil__nom">Prénom Nom</h3>
           <div class="profil__classe flex-container align-items-center"><p id="season">CM S0</p> | <p id="tp">TP Z</p> | <p id="td">TD YZ</p></div>
           <h5 id="email">prenom.nom@etudiant.univ-reims.fr</h5>
        </div>
        <button class="profil__signout flex-container justify-content-center align-items-center" id="sign-out">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 512 512">
            <style>svg{fill:#ffffff}</style>
            <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 
            12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 
            32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/></svg>
            Déconnexion    
        </button>
    </section>
</body>
{% endblock %}
