{% extends 'base.html.twig' %}

{% block title %}Connexion - SAE 301{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
        {% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/check.js') }}" defer></script>

{% endblock %}

{% block nav %}
{% endblock %}


{% block body %}

    <div class="flex-container align-items-center justify-content-center max-height">
        <form class="flex-container flex-column connexion_form gap20">
            <img id="large" src="https://cas.univ-reims.fr/cas/css/images/logo.png" alt="Logo Univ">
            <img id="small" src="https://cas.univ-reims.fr/cas/css/images/logo-small.png" alt="Logo Small">

            <p id="error"></p>

            <p id="sucess"></p>

            <div class="flex-container flex-column gap10">
                <label for="id">Identifiant</label>
                <input type="text" id="id" name="id" placeholder="Identifiant">
            </div>

            <div class="flex-container flex-column gap10">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe">
            </div>

            <div class="flex-container flex-column align-items-baseline justify-content-center">
                <input type="submit" id="submit" value="Connexion">
            </div>

        </form>
    </div>
{% endblock %}
