{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">

    <div class="flex-container align-items-center justify-content-center max-height">
        <div class="flex-container flex-column connexion_form gap20">
            <h1>Université de Reims Champagne Ardenne</h1>

            <div class="flex-container flex-column gap10">
                <label for="id">Identifiant</label>
                <input type="text" id="id" name="id" placeholder="Identifiant">
            </div>

            <div class="flex-container flex-column gap10">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe">
            </div>

            <div class="flex-container flex-column align-items-center justify-content-center">
                <input type="submit" value="Connexion">
            </div>

        </div>
    </div>
{% endblock %}
