@import "main.css";

:root{
    --light: #B8CBD0;
    --blue-grey: #7A90A4;
    --dark: #344d59;
    --blue:#137C8B;
    --light-blue: #709CA7;
}

body {
    background: url("../image/school.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    backdrop-filter: grayscale(100%) blur(5px);
    margin: 0;
}

h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
    text-align: center;

}

.connexion_form {
    max-width: 500px;
    background: var(--blue-grey);
    height: auto;
    padding: 40px 60px;
    border-radius: 8px;
    margin: 0 20px;
    border: 1px var(--dark) solid;
}

.connexion_form > .flex-container > input[type="text"], .connexion_form > .flex-container > input[type="password"] {
    border: 1px solid var(--dark);
    text-indent: 10px;
    border-radius: 5px;
    width: 100%;
    padding: 17px 0;
}

.connexion_form > .flex-container > input[type="submit"] {
    background: var(--dark);
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    padding: 7px 20px;
    margin: 0 auto;
    margin-top: 10px;
}

.connexion_form > .flex-container > label {
    color: white;
}

#small {
    display: none;
}

#large {
    display: block;
}

@media screen and (max-width: 550px) {
    .connexion_form {
        padding: 40px 20px;
        width: 100%;
    }

    #small {
        display: block;
        width: 40%;
        min-width: 135px;
        margin: 0 auto;
    }

    #large {
        display: none;
    }
}

#sucess, #error {
    display: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#sucess {
    background: #4caf50;
    color: #ffffff;
}

#error {
    background: #f44336;
    color: #ffffff;
}