@import 'main.css';

body{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow-x: hidden; /* Empêche le défilement horizontal */
    overflow-y: auto; /* Permet le défilement vertical */
}

.navbar{
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.navbar ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.navbar ul li{
    margin: 25px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar__liens{
    height: 80vh;
}
.navbar__profil{
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
}
.navbar-profil__img{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
}

section{
    gap: 60px;
    width: 80%;
    min-height: 100vh;
    background-color: rgb(191, 191, 191);
    margin-left: 20%;
}

.profil{
    width: max-content;
    gap: 15px;
    border: 2px black solid;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 15px;

}
.profil__img{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}
.profil__classe{
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}
h3{
    font-size: 1.25rem;
    margin : 0;
}
h5{
    margin : 0;
}
.profil p{
    font-size: 13px;
    margin: 0;
    font-weight: 500;
}