@import 'main.css';
@import 'layout.css';

:root{
    --light: #B8CBD0;
    --blue-grey: #7A90A4;
    --dark: #344d59;
    --blue:#137C8B;
    --light-blue: #709CA7;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow-x: hidden; /* Empêche le défilement horizontal */
    overflow-y: auto; /* Permet le défilement vertical */
}

section{
    gap: 60px;
    width: 80%;
    min-height: 100vh;
    background-color: var(--light);
    margin-left: 20%;
}
#burger{
    display: none;
}

.profil{
    width: max-content;
    gap: 15px;
    border: 2px black solid;
    padding: 30px;
    background-color: var(--blue-grey);
    color: white;
    border-radius: 15px;

}
.profil__img{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}
.profil__classe{
    gap: 10px;
}

h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}
h3{
    font-size: 1.25rem;
    margin : 0;
}
h5{
    margin : 0;
}
.profil p{
    font-size: 13px;
    margin: 0;
    font-weight: 500;
}

.profil__signout{
    background-color: var(--dark);
    color: white;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 900px){
    section{
        width: 100%!important;
        margin-left: 0!important;
    }
    #burger{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        fill: black!important;
    }
}