@import "main.css";
@import "layout.css";

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow-x: hidden; /* Empêche le défilement horizontal */
    overflow-y: auto; /* Permet le défilement vertical */
}

section{
    width: 80%;
    min-height: 100vh;
    background-color: rgb(191, 191, 191);
    margin-left: 20%;
}

h1 {
    color: black;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.nom-proposer{
padding: 20px;
}

.nom-proposer__button{
    text-decoration: dashed;
}
.nom-proposer__button > div{
    gap: 15px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 10px;
    text-decoration: dashed;
}
.nom-proposer__button p{
    margin: 0;
}
