@import "main.css";
@import "layout.css";

:root{
    --light: #B8CBD0;
    --blue-grey: #7A90A4;
    --dark: #344d59;
    --blue:#137C8B;
    --light-blue: #709CA7;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow-x: hidden; /* Empêche le défilement horizontal */
    overflow-y: auto; /* Permet le défilement vertical */
}

section{
    width: 80%;
    min-height: 100vh;
    margin-left: 20%;
    background-color: var(--light);
}

h1 {
    color: black;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

#burger{
    display: none;
}

.nom-proposer{
    padding: 20px;
}

.nom-proposer__button{
    text-decoration: dashed;
}
.nom-proposer__button > div{
    gap: 15px;
    font-size: 15px;
    background-color: var(--dark);
    color: white;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 10px;
    text-decoration: dashed;
}
.nom-proposer__button p{
    margin: 0;
}

@media screen and (max-width: 900px){
    #burger{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        fill: black!important;
    }
    section{
        width: 100%!important;
        margin-left: 0px!important;
    }
    .nom-proposer{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .fc-toolbar-title{
        font-size: 1.5em!important;
    }
    
}